.card {
  background-color: var(--color-bg);
  margin: 25px;
  margin-bottom: 15px;
  flex: none;
  padding: 8px;
  border-radius: var(--neu-radius, 15px);
  align-items: center;
  box-shadow: 6px 6px 12px var(--main-shadow-1-color), -6px -6px 12px var(--main-shadow-2-color), inset 0px 0px 0px var(--main-shadow-1-color), inset 0px 0px 0px var(--main-shadow-2-color);
  transition: all 0.3s;
}

.card:hover {
  box-shadow: 0px 0px 0px var(--main-shadow-1-color), 0px 0px 0px var(--main-shadow-2-color), inset 2px 2px 5px var(--main-shadow-1-color), inset -3px -3px 7px var(--main-shadow-2-color);
}

.card:active {
  box-shadow: 0px 0px 0px var(--main-shadow-1-color), 0px 0px 0px var(--main-shadow-2-color), inset 2px 2px 5px var(--main-shadow-1-color), inset -3px -3px 7px var(--main-shadow-2-color);
}

.card-img-top {
  width: 146px;
  height: 100px;
  object-fit: contain;
}

.card-body {
  padding: 0;
  text-align: center;
}

.card:hover .card-title {
  color: var(--main-svg-color);
}

.card:hover .neo-svg {
  fill: var(--main-svg-color);
  transition: all .5s;
}

.card-text {
  color: var(--main-font-color);
  background-color: transparent;
  text-align: center;
}